<div class="container pt-5 h-100" style="background-color: #ececec;">
  <div class="row">
    <div class="col-5 offset-1">
      <form nz-form [formGroup]="cadastroForm">
        <nz-form-item>
          <nz-form-control>
            <input type="text" placeholder="E-mail" nz-input formControlName="email" [(ngModel)]="model.email">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <input type="password" placeholder="Senha" nz-input formControlName="senha" [(ngModel)]="model.senha">
          </nz-form-control>
        </nz-form-item>
        <div class="d-flex justify-content-evenly">
          <button nz-button nzType="primary" (click)="btnSalvar()">Salvar</button>
          <button nz-button nzType="default" (click)="btnEsqueciSenha()">Esqueci senha</button>
        </div>
      </form>
    </div>
    <div class="col-5">
      <nz-table #basicTable [nzData]="listData">
        <thead>
          <tr>
            <th class="text-center">
              E-mail
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td class="text-center">
              {{data.email}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>